<div class="background">
  <div style="padding-top: 20px"></div>
  <app-header context="company"></app-header>

  <div class="content">
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-body">
            <h2>A Empresa</h2>
            <p>Com mais de 20 anos de atuação no mercado de pneus (desde 03/1994), o grupo V10 Pneus sempre atuou nas
              regiões norte e nordeste, com passagens pelos estados do Rio de Janeiro e Espírito Santo.
              Iniciou seu trabalho no atacado através da importação e distribuição de pneus novos (passeio e carga),
              câmaras de ar, pneus remoldados e pneus meia-vida.
              Desde 2006 atua exclusivamente na distribuição de pneus novos de passeio, caminhonete e carga.</p>
            <p>
              Entre 2004 e 2013, o grupo manteve no mercado de Salvador, 2 Centros Automotivos (V10 Auto Center), para
              atender aos consumidores com venda de produtos e serviços (balanceamento e alinhamento computadorizado,
              suspensão, ar-condicionado, injeção eletrônica e mecânica em geral), com excelência no padrão de
              qualidade.
              Objetivando focar exclusivamente no atacado, o grupo negociou as lojas em novembro de 2013.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
