<div class="topnav">
    <div class="logo">
      <img src="assets/logo.jpg" name="logo" class="logo-image">
    </div>

    <div class="menu fa-pull-left">
      <ng-container *ngFor="let item of menuItens">
        <a [routerLink]="item.route" [ngClass]="{'active': item.active}">{{item.text}}</a>
      </ng-container>
    </div>

    <div class="icon">
      <a (click)="showMenuItens()"><i class="fa fa-list"></i></a>
    </div>

    <div *ngIf="showMenu" class="menu-list">
      <ul>
        <ng-container *ngFor="let item of menuItens">
          <a [routerLink]="item.route"><li class="menu-list-item" [ngClass]="{'active': item.active}">{{item.text}}</li></a>
        </ng-container>
      </ul>
    </div>
</div>


