<div class="background">
  <div style="padding-top: 20px"></div>
  <app-header context="contact"></app-header>

  <div class="content">
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-body">
            <h2>Contato</h2>
            <p style="text-align: center">Quer entrar em contato conosco? Envie um e-mail para contato@v10pneus.com.br, descrevendo sua dúvida, sugestão e
            quaisquer outros assuntos. Responderemos o mais rápido possível.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
