<div class="background">
  <div style="padding-top: 20px"></div>
  <app-header context="dashboard"></app-header>

  <div class="content">
    <div class="row">
      <div class="col-sm-3">
        <div class="card" style="width: 18rem;">
          <img src="../assets/pneus.jpg" class="card-img-top" >
          <div class="card-body">
            <h5 class="card-title" color="black">Empresa</h5>
            <p class="card-text">Conheça um pouco da nossa história, atuando há mais de 20 anos por todo o Brasil</p>
          </div>
          <div class="card-body">
            <a routerLink="/company" class="btn btn-danger">Saiba mais</a>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card" style="width: 18rem;">
          <img src="../assets/distribuicao.jfif" class="card-img-top" >
          <div class="card-body">
            <h5 class="card-title" color="black">Distribuição</h5>
            <p class="card-text">Contamos atualmente com 7 unidades distribuidoras no Nordeste do País</p>
          </div>
          <div class="card-body">
            <a routerLink="/distribution" class="btn btn-danger">Saiba mais</a>
          </div>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="card" style="width: 18rem;">
          <img src="../assets/telefone.jpg" class="card-img-top" >
          <div class="card-body">
            <h5 class="card-title" color="black">Contato</h5>
            <p class="card-text">Dúvidas? Sugestões? Acione nosso canal de contato e nos envie uma mensagem</p>
          </div>
          <div class="card-body">
            <a routerLink="/contact" class="btn btn-danger">Saiba mais</a>
          </div>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="card" style="width: 18rem;">
          <img src="../assets/garantia.png" class="card-img-top" >
          <div class="card-body">
            <h5 class="card-title" color="black">Garantia</h5>
            <p class="card-text">Clique em saiba mais e visualize aqui o Certificado de Garantia da V10 Pneus</p>
          </div>
          <div class="card-body">
            <a href="http://www.v10pneus.com.br/GarantiaV10.pdf" class="btn btn-danger">Saiba mais</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
